


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.id{
    font-size: 10px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.id{
    text-align: center;
    
}

.username{
    margin:2rem 0rem;
}
.box{
    position: relative;
    left: 0;
}
.details{
    font-size: 1.5rem;
    background: green;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
